<config>
  <!-- Slot Control -->
  <power v='full'/>

  <!-- User Information -->
  <passkey v='74cddd4eb5b5444d74cddd4eb5b5444d'/>
  <team v='234980'/>
  <user v='1vcyytfmic59'/>

  <!-- Folding Slots -->
  <slot id='0' type='GPU'>
    <gpu-index v='0'/> <!-- O índice da GPU (0 para a primeira GPU, 1 para a segunda GPU, etc.) -->
    <tinker v='false'/> <!-- Desabilitar o uso de projetos Tinker para GPUs NVIDIA modernas -->
  </slot>
</config>
